.header-page {
    background-color: var(--color);
    border-bottom: 1px solid var(#ececec);

    @media screen and (max-width: 767px) {
    top: 0;
    left: 0;
    width: 100%;
}
}

.header-page__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @media screen and (max-width: 767px) {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

 .tablet-icons {
    @media screen and (min-width: 768px) {
        max-width: calc((100% - 30px)/2);
    }
 }

.no-scroll {
    overflow: hidden;
}

.js-open-menu, .js-close-menu {
@media screen and (min-width: 768px) {
    display: none;
    padding: 10px 10px;
}
}
.js-close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
}

.icon-menu_24px {
    fill: currentColor;
}

.menu {
@media screen and (max-width: 767px)
 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 48px 40px;
    width: 100%;
    height: 100vh;
    transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

@media screen and (max-width: 1600px)
 {
    display: none;
}
}

.menu.is-open {
    display: block;
    -webkit-transform: translatex(0);
    transform: translatex(0);
    background: var(--color);

    @media screen and (max-width: 767px) {
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 48px 40px;
        width: 100%;
        height: 100vh;
}
}

.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after {
    visibility: hidden !important;
}

.js-open-menu, .js-close-menu {
    background-color: rgba(0,0,0,0);
}

.link, .icon-first {
    &:hover {
    color: var(--a-color); 
    }
}

.tables-two li {
    &:hover .overlay > .text-photo {
    transform: translateY(0); 
    }
}

.first-child {
    margin-left: 50px;
}

.hero {
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;

    @media screen and (min-width: 480px) {
      }
}

// Active

.active {
    @media screen and (min-width: 768px) {
        color: var(--a-color);
        position: relative;
    }
}

.active::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--a-color);
    border-radius: 2px;
}

.header-logo {
    // margin-right: 245px;
    // padding-top: 24px;
    // padding-bottom: 25px;
    // display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;

    @media screen and (min-width: $desktop) {
        margin-right: 93px;
    }
}

.header-logo {
    // Changing geometri by Breakpoint
    @media screen and (min-width: $tablet) {
        margin-right: 88px;
    }
    
    // Changing geometri by Breakpoint
    @media screen and (min-width: $desktop) {
        margin-right: 93px;
    }
   
}

// .header-logo {
//     margin-right: 93px;
//     padding-top: 24px;
//     padding-bottom: 25px;
//     display: block;
// }


.section-two-hidden {
@media screen and (max-width: 1199px)
    {
    display: none;
    }
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--a-color);
    padding: 16px 0;

    // @media screen and (min-width: 480px) {
    //     padding: 16px 0;
    // }

    // @media screen and (min-width: 1600px) {
    //     padding: 0;
    // }
}

.icon-first {
    fill: currentColor;
    margin-right: 10px;
}

.logo-header {
    color: var(--link-color);
}

.clients__item {
    @media screen and (max-width: 400px) {
        width: calc((100% - 30px)/2);
        justify-content: center;
    }
}

.header-list :not(:last-child) {
    margin-right: 50px;
}

.header-item {
    @media screen and (min-width: 786px) {
        display: block;
    }
    @media screen and (min-width: 1200px) {
    margin-right: 30px;
    }
}

.header-list :not(:last-child) {

    @media screen and (min-width: 1200px) {
        margin-right: 50px;
    }
}

.header-container {
    align-items: center;
    @media screen and (max-width: 480px) {
        display: flex;
        padding: 0 15px;
        margin: 0 15px;
    }

    @media screen and (min-width: 1600px) {
        display: flex;
    }
}

.navigation__link--current {
    position: relative;
    color: var(--a-color);
}

.link {
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
        display: flex;
        font-size: 40px;
        line-height: 1.18;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: var(--link-color);
    }

    @media screen and (min-width: 768px) and (max-width: 1600px) {
    display: flex;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
}

.link:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
}
}

.contact {
    font-weight: 500;
    letter-spacing: .02em;
    color: var(--second-color);
}

.contact {
@media screen and (max-width: 767px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    font-size: 34px;
    line-height: 1.18;
}
}

.header-list {
    @media screen and (max-width: 768px)
    {
    display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 11600px)
    {
    display: flex;
    }

    // @media screen and (max-width: 1600px)
    // {
    // display: flex;
    // }
}

.header-list-contacts {
    @media screen and (max-width: 768px)
    {
    display: none;
    }

    @media screen and (min-width: 768px) and (min-width: 1600px)
    {
        display: block;
        margin-left: auto;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: .02em;
    }

    @media screen and (min-width: 1200px)
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        line-height: 1.14;
    }
    }

// __SO IMPORTANT______________________

// .navigation {
//     @media screen and (max-width: 480px)
//     {
//     display: none;
//     }
// }

.contacts-wrap {
    margin-left: auto;
}

// __SO IMPORTANT______________________

.telephone, .email {
    font-weight: 500;
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--description-color);

    @media screen and (min-width: 1600px)
    {
        display: flex;
        padding: 32px 0;
    }
}

.email {
 &:hover &:focus {
    color: var(--a-color);
}
}

.icon-first {
    display: flex;
    list-style: center;
    justify-content: center;
    text-decoration: none;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

.active {
    @media screen and (min-width: 768px) {
        color: var(--a-color);
    }
}
