// section {
//     display: block;
// }

// .section.modifier {
//     padding-bottom: 0;
// } 

.section {
    padding: 60px 0;

    @media screen and (min-width: 768px) {
        padding: 60px 0;
    }

    @media screen and (min-width: 1600px) {
        padding: 94px 0;
    }
    /* padding: 94px 0; */
  }